.hidden{
	display:none;
}
a.next{
	background:url(../img/next.png) no-repeat;
	width:29px;
	height:29px;
	display:block;
	cursor:pointer;
	}
.holiday span.ui-state-default
{
	display:block !important;	background:#F37F0D !important;	color:#431E0C !important;
	
}
.ui-state-default
{
	background:#C6D797 !important;
}
.tooltip{
	position:absolute;
	z-index:1000;
}
.content_tp{ 

}
.bottom_tp{
	
}
.top_tp{
	
}
.clear
{
	clear:both;	
}